@import url("./reset.css");
:root {
  --c1: #825ff6;
  --c2: #222327;
  --c3: #ffffff;
  --c4: #a8a9aa;
  --c5: #24262c;
  --c6: #543f98;
  --c7: #474950;
  --c8: #a8a9aa;
  --c9: #1efe7f;
  --c10: #2a2b2f;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--c2);
  color: var(--c3);
}
